<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.wisewords">
    // permission to access the internet
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <!-- launcher category makes this the activity that gets shown first -->
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.MainActivity"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SavedQuotes"
            android:label="@string/title_activity_saved_quotes"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.wisewords.MainActivity"/>
        </activity>
        <activity
            android:name=".SavedQuoteDetail"
            android:theme="@style/MainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.wisewords.SavedQuotes"/>
        </activity>
    </application>

</manifest>